@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Diplomata+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatUp {
    from {
      transform: translateY(80px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .float-up {
    opacity: 1 !important;
    animation: floatUp 1s ease-out forwards;
  }

@keyframes floatToRight {
    from {
      transform: translateX(80px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .float-to-right {
    opacity: 1 !important;
    animation: floatToRight 1s ease-out forwards;
  }

@keyframes floatToLeft {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(80px);
      opacity: 0;
    }
  }
  
  .float-to-left {
    opacity: 1 !important;
    animation: floatToLeft 1s ease-out forwards;
  }

  .slick-dots li button:before {
    color: white !important; /* Change the color of the dots to white */
  }
  
  .slick-dots li.slick-active button:before {
    color: white !important; /* Ensure active dot is also white */
  }
  
  /* Hide the previous and next thumbnail navigation arrows */
.p-galleria-thumbnail-prev,
.p-galleria-thumbnail-next {
    display: none;
}

.slick-list {
  height: 100% !important; 
}